
.container{
  margin: 0;
  padding: 0;
  background: #A5FAFA;
  display: grid;
  grid-template-columns: auto;
}

.the-logo{
  position: absolute;
  width: 321px;
  height: 104px;
  left: 620px;
  top:55px;
  

  background: url('../../assets/scl.jpg');
  background-size: 100px;
  width: 120px;
  height: 50px;
  margin: 0;

}

.signup-form{
  background: white;
  margin: 8% auto 0;
  padding: 20px;
  width: 250px;
  
}
.signup-form h3{
  margin-top: 0;
  margin-bottom: 15px;
  text-align: center;

}



form{
  display: flex;
  flex-direction: column;
}

.input-box{
  
  padding: 10px;
  margin: 5px 0;
  width: 90%;
  outline: none;
  display: inline-block;
}

select{

  padding: 10px;
  margin: 5px 0;
  width: 100%;
  outline: none;
  display: inline-block;
}

button {
  background-color:  #58D04E;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

p{
  font-size: 8px;
}

footer{
  background-color: aqua;
  height: 70px;
  margin: 8% auto 0;
  
  
}

footer ul{
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

footer li{
 
  margin: 10px;
  padding: 10px;

}

hr{
  color: black;
}
/*validation styles */

.text-danger{

  color: red;

}

.is-invalid{
  border: 2px solid #ff0000;
}

.none{
  visibility: hidden;
}


/*validation styles */
@media screen and (max-width: 600px) {
  
.the-logo{
  position: absolute;
  width: 150px;
  height: 90px;
  left: 259px;
  top:30px;
  

  background: url('../../assets/scl.jpg');
  background-size: 100px;
  width: 60px;
  height: 20px;
  margin: 0;

}
 
}















